<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
        {% block title %} {% endblock %}
    </title>

    {% block head %}
    {% endblock %}
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link rel="icon" type="image/png" href="/static/images/title.png">

    <!-- jQuery script tag from code.jquery.com -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- script tags from get bootstrap.com -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>

    <link href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css' rel='stylesheet'
        type='text/css'>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js'></script>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <style>
        :root {
            --accentcolor1: #F6F1D1;
            --accentcolor2: #F7F7F7;
        }
    </style>
</head>

<body>
    <div class="container">

        {% with messages = get_flashed_messages() %}
        {% if messages %}

        <div class="row justify-content-md-center">
            <div class="col-10 ">
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endfor %}
            </div>
        </div>

        {% endif %}
        {% endwith %}

        <div class="row">
            <br />
            <br />
            <br />
        </div>
        <div class="row justify-content-md-center">
            <div class="col-10 ">
                <div class="row">
                    <div class="col-3">
                        <a href="/">
                            <img src="/static/images/title.png" width="100" />
                        </a>
                    </div>
                    <div class="col-9">
                        <div class="row align-items-end">
                            <div class="col text-end">
                                {% if "user_id" in session and session["user_id"] %}
                                <a class="display-6 text-decoration-none p-1 text-dark" style="font-size: 80%"
                                    href="/">HOME</a>
                                <a class="display-6 text-decoration-none p-1 text-dark" style="font-size: 80%"
                                    href="/posts">MAKEUP
                                    LOOKS</a>

                                <a class="display-6 text-decoration-none p-1 text-dark" style="font-size: 80%"
                                    href="/user/{{session['user_id']}}/favorites">FAVORITES</a>
                                <a class="display-6 text-decoration-none p-1 text-dark" style="font-size: 80%"
                                    href="/newlook">NEW
                                    LOOK</a>
                                <a class="display-6 text-decoration-none p-1 text-dark" style="font-size: 80%"
                                    href="/profile">PROFILE</a>

                                <a class="display-6 text-decoration-none p-1 text-dark" style="font-size: 80%"
                                    href="/logout">LOGOUT</a>

                                {% else %}
                                <a class="display-6 text-decoration-none p-1 text-dark" style="font-size: 80%"
                                    href="/">HOME</a>
                                <a class="display-6 text-decoration-none p-1 text-dark" style="font-size: 80%"
                                    href="/posts">MAKEUP
                                    LOOKS</a>
                                <a class="display-6 text-decoration-none p-1 text-dark" style="font-size: 80%"
                                    href="/login">LOGIN</a>
                                <a class="display-6 text-decoration-none p-1 text-dark" style="font-size: 80%"
                                    href="/signup">SIGNUP</a>
                                {% endif %}
                            </div>

                        </div>
                        <div class="row align-items-end">
                            <div class="col-6 offset-6">
                                <form action="/search" method="GET">
                                    <div class="input-group">
                                        <input type="search" class="form-control rounded" name="search_text"
                                            style="font-size: 70%" value="{{search_text}}" placeholder="Search"
                                            aria-label="Search" aria-describedby="search-addon" />
                                        <button type="submit" class="btn btn-outline-secondary"
                                            style="font-size: 70%">search</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-10">
                {% block body %}
                {% endblock %}

                {% block after_body %}
                {% endblock %}
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-2 offset-8">
                <div class="text-center center-block">
                    <a class="text-decoration-none p-1 text-dark" href="https://www.facebook.com/madihagoheer"><i
                            class="fa fa-facebook fa-1x social"></i></a>
                    <a class="text-decoration-none p-1 text-dark" href="https://instagram.com/madihagoheerofficial"><i
                            class="fa fa-instagram fa-1x social"></i></a>
                    <a class="text-decoration-none p-1 text-dark" href="mailto:madihagoheer@gmail.com"><i
                            class="fa fa-envelope-square fa-1x social"></i></a>
                </div>
            </div>
        </div>
        <br />
    </div>
</body>

</html>