{% extends 'base.html' %}
{% block title %} {{user.user_id}} {% endblock %}

{% block body %}
<div id="container">
    <h3>Welcome {{userprofile.first_name}} {{userprofile.last_name}}</h3>
</div>

<form action="/profile/edit" method="POST">
    <input type="hidden" name="form_id" value="basic_info" />
    <p> First name: <input type="text" name="fname" value="{{userprofile.first_name}}"></p>
    <p> Last name: <input type="text" name="lname" value="{{userprofile.last_name}}"></p>
    <p> Enter your Insta handle: <input type="text" name="insta_handle" value="{{userprofile.insta_handle}}"></p>
    <p> bio <input type="text" name="bio" value="{{userprofile.bio}}"></p>
    <input type="submit" name="Save" />
</form>
<form action="/profile/edit" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="form_id" value="profile_picture" />
    <input type='file' name="file1">
    <input type="submit" name="Save" />
</form>
<form action="/profile/edit" method="POST">
    <input type="hidden" name="form_id" value="profile_password" />
    <p> Old Password: <input type="text" name="fname"></p>
    <p> New Password: <input type="text" name="lname"></p>
    <input type="submit" name="Save" />
</form>
{% endblock %}