{% extends 'base.html' %}

{% block title %} {{post.title}} - {% endblock %}

{% block body %}
<h1>{{ post.title }}</h1>

<p>
    {{post.post_description}}
</p>

<p>{{post.makeup_type}}
</p>

<form action="/posts/{{post.post_id}}/edit" method="POST">
    <input type="hidden" name="form_id" value="basic_info" />
    <p> title: <input type="text" name="title" value="{{post.title}}"></p>
    <p> Post_description: <input type="text" name="post_description" value="{{post.post_description}}"></p>
    Makeup Type: <select name="makeup_type" id="makeup_type">
        <option value="dramatic">Dramatic</option>
        <option value="wedding">Wedding</option>
        <option value="classic">Classic</option>
        <option value="runway">Runway</option>
        <option value="specialeffects">Special Effects</option>
    </select>
    <input type="submit" name="Save" />
</form>
<br />
<form action="/posts/{{post.post_id}}/edit" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="form_id" value="post_image" />
    <input type='file' name="file1">
    <input type="submit" name="Save" />
</form>


</form>



{% for product in products %}
<img src="/static/images/products/{{product.image}}" height="50" width="50"/> <a href="{{product.url}}">{{product.title}}</a>
<p>

</p>
<p>{{product.details}}</p>

{% endfor %}


{% for post_image in post_images %}
<img src="/static/images/posts/{{post_image.image}}" />
{% endfor %}

<!-- {% for product in products %}

<li><a href="{{product.url}}">{{product.title}}</a></li>
<p>

</p>
<p>{{product.details}}</p>

{% endfor %}

{% for post_image in post_images %}
<img src="/static/images/posts/{{post_image.image}}" />
{% endfor %} -->


{% endblock %}