{% extends 'base.html' %}
{% block title %} StoreAdora {% endblock %}

{% block body %}

<style>
    .column20 {
        float: left;
        width: 20%;
    }

    .column80 {
        float: left;
        width: 80%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {

        function setProduct(product) {
            if (product == undefined || product == null || !product.id || product.id == -1) {
                return "Search for a product";
            }
            var $product = $('<div class="row"><div class="column20"><img src="/static/images/products/' + product.image + '" width="50" height="50"></div><div class="column80"><div>' + product.title + '</div><div>' + product.description + '</div></div></div>');
            return $product;
        }
        //make an empty list and use .each on data from server (dictionary, key value pairs ) and create a  new dictionary and add it to the list
        function transformResults(data) {
            var results = [];
            $.each(data, function (index, product) {
                results.push({
                    id: product.product_id,
                    title: product.title,
                    description: product.details,
                    image: product.image,
                })
            });
            return {
                "results": results
            };
        }
        // used select2 library over here and add its script and jquery script in base.html

        $("#selProduct").select2({
            //placeholder shows text when nothing is there in the text box
            placeholder: "Search for a product",
            //call set product function over here
            templateResult: setProduct,
            //templateSelection: setProduct,
            //ajax call
            ajax: {
                //send get request on the url below and after getting the results from the server this function will be called.
                processResults: transformResults,
                url: '/products/search.json',
                type: "get",
                dataType: 'json',
                // wait for 250 milli seconds after typing and then send search request to the server
                delay: 250,
            },
        });
        //this function will be called when an item will be selected
        $('#selProduct').on('select2:select', function (e) {
            var data = e.params.data;
            console.log(data);
            $('#products').append("<div id='" + data.id + "'><img src='/static/images/products/" + data.image + "' width='30' height='30'/><input type='hidden' name='products' value='" + data.id + "' /><input type='button' name='remove' value='remove'/></div>");
        });
    });
</script>
<div class="row">
    <h3 class="display-6">Create a New Look</h3>
</div>
<div class="row">
    <div class="col-12">

        <form id="newlook" action="/newlook" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <div class="card mb-3" style="max-width: 200; border-color: var(--accentcolor1);">
                <!-- <div class="card-header text-dark" style="background-color: var(--accentcolor1);">Add New Look</div> -->
                <div class="card-body" style="background-color: var(--accentcolor1);">
                    <p>Title:<input type="text" name="title" class="form-control" /></p>
                    <p>Description: <input type="text" name="description" class="form-control" /></p>
                    <p>Select Products Used OR <a href="/newproduct">Add New Product</a></p>
                    <select id="selProduct" style="width:400px;" class="form-control">
                        <!-- <option value="-1">- Search for Product to Add -</option> -->
                    </select>
                    <br />
                    <div id="products"></div>
                    <br />
                    <p>
                        Makeup Type: <select name="makeup_type" id="makeup_type">
                            <option value="Dramatic">Dramatic</option>
                            <option value="Wedding">Wedding</option>
                            <option value="Classic">Classic</option>
                            <option value="Runway">Runway</option>
                            <option value="Special Effects">Special Effects</option>
                        </select>
                    </p>
                    <p> Select Image
                        <input class="form-control" type='file' name="images" id="images" accept="image/jpeg"
                            multiple />
                    </p>
                    <input type="submit" name="Save" />
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}