{% extends 'base.html' %}
{% block title %} StoreAdora {% endblock %}

{% block body %}

<style>
    .column20 {
        float: left;
        width: 20%;
    }

    .column80 {
        float: left;
        width: 80%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {

        function setProduct(product) {
            if (product == undefined || product == null || !product.id || product.id == -1) {
                return "Search for a product";
            }
            var $product = $('<div class="row"><div class="column20"><img src="/static/images/products/' + product.image + '" width="50" height="50"></div><div class="column80"><div>' + product.title + '</div><div>' + product.description + '</div></div></div>');
            return $product;
        }
        //make an empty list and use .each on data from server (dictionary, key value pairs ) and create a  new dictionary and add it to the list
        function transformResults(data) {
            var results = [];
            $.each(data, function (index, product) {
                results.push({
                    id: product.product_id,
                    title: product.title,
                    description: product.details,
                    image: product.image,
                })
            });
            return {
                "results": results
            };
        }
        // used select2 library over here and add its script and jquery script in base.html

        $("#selProduct").select2({
            //placeholder shows text when nothing is there in the text box
            placeholder: "Search for a product",
            //call set product function over here
            templateResult: setProduct,
            //templateSelection: setProduct,
            //ajax call
            ajax: {
                //send get request on the url below and after getting the results from the server this function will be called.
                processResults: transformResults,
                url: '/products/search.json',
                type: "get",
                dataType: 'json',
                // wait for 250 milli seconds after typing and then send search request to the server
                delay: 250,
            },
        });
        //this function will be called when an item will be selected
        $('#selProduct').on('select2:select', function (e) {
            var data = e.params.data;
            console.log(data);
            $('#products').append("<div id='" + data.id + "'><img src='/static/images/products/" + data.image + "' width='30' height='30'/><input type='hidden' name='products' value='" + data.id + "' /><input type='button' name='remove' value='remove'/></div>");
        });
    });
</script>
<div class="row">
    <h3 class="display-6">Create a New Look</h3>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">Add details</div>
            <div class="card-body">
                <form id="newlook" action="/newlook" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="form_id" value="new_look" accept="image/jpeg" />

                    <p>Post Title:<input type="text" name="post_title" /></p>

                    <p>Post Description: <input type="text" name="post_description" /></p>
                    <!-- Example https://select2.org/data-sources/ajax -->
                </form>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-header"> Search a Product</div>
            <div class="card-body">

                <select id="selProduct" style="width:400px;">
                    <!-- <option value="-1">- Search for Product to Add -</option> -->
                </select>
                <br />
                <div id="products"></div>

            </div>
        </div>


        <a href="/newproduct">Add New Product</a>
        <br/>
        <br/>
        <div class="card">
            <div class="card-header">Choose a Makeup Type</div>
            <div class="card-body">

                Makeup Type: <select name="makeup_type" id="makeup_type">
                    <option value="dramatic">Dramatic</option>
                    <option value="wedding">Wedding</option>
                    <option value="classic">Classic</option>
                    <option value="runway">Runway</option>
                    <option value="specialeffects">Special Effects</option>
                </select>
            </div>
        </div>
            <br/>
            <br/>
            <div class="card">
                <div class="card-header"> Select Image</div>
                <div class="card-body">

                    <input type='file' name="images" id="images" accept="image/jpeg" multiple>
                    <br/>
                    <br/>
                    <input type="submit" name="Save" />
                </div>


                <br />

            </div>
        </div>
    </div>
</div>


{% endblock %}