{% extends 'base.html' %}

{% block title %} {{post.title}} - {% endblock %}

{% block body %}

<h1>{{ post.title }}</h1>
<div>
    <button type="submit" id="button_add">Add to favorites</button>
    <button type="submit" id="button_remove">Remove from favorites</button>
</div>
<script>
    // Add code here
    $(document).ready(function () {

        let url = "/favorites/user/{{post.post_id}}";
        $.get(url, {}, function (data) {
            if (data != undefined) {
                //console.log(data);
                if (data["id"] !== undefined) {
                    //console.log("show remove from favorites button");
                    $("#button_add").hide();
                    $("#button_remove").show();
                } else {
                    //console.log("show add to favorites button.")
                    $("#button_add").show();
                    $("#button_remove").hide();
                }
            } else {
                console.log("Some error happened.");
                $("#button_add").show();
                $("#button_remove").hide();
            }
        });

        $("#button_add").click(function () {
            $.get("/favorites/user/add/{{post.post_id}}", {}, function (data) {
                $("#button_remove").show();
                $("#button_add").hide();
            })
        });

        $("#button_remove").click(function () {
            $.get("/favorites/user/remove/{{post.post_id}}", {}, function (data) {
                $("#button_remove").hide();
                $("#button_add").show();
            })
        });
    });
</script>

<p>
    {{post.post_description}}
</p>

<p>{{post.makeup_type}}
</p>
<a href="/posts/{{post.post_id}}/edit">Edit </a>
{% for product in products %}
<img src="/static/images/products/{{product.image}}" height="50" width="50" /> <a
    href="{{product.url}}">{{product.title}}</a>
<p>

</p>
<p>{{product.details}}</p>
{% endfor %}

{% for post_image in post_images %}
<img src="/static/images/posts/{{post_image.image}}" width="600" />
<br />
{% endfor %}


<form action="/posts/{{post.post_id}}" method="post">
    <div>
    <textarea name="comments" id="comments" style="font-family:sans-serif;font-size:1.2em;">
    Hey... say something!
    </textarea>
    </div>
    <input type="submit" value="Submit">
    </form>
<p>{{post.influencer_name}}</p>
{% endblock %}