{% extends 'base.html' %}

{% block title %} {{post.title}} {% endblock %}

{% block body %}
<script>
    // Add code here
    $(document).ready(function () {

        let url = "/favorites/user/{{post.post_id}}";
        $.get(url, {}, function (data) {
            if (data != undefined) {
                //console.log(data);
                if (data["id"] !== undefined) {
                    //console.log("show remove from favorites button");
                    $("#button_add").hide();
                    $("#button_remove").show();
                } else {
                    //console.log("show add to favorites button.")
                    $("#button_add").show();
                    $("#button_remove").hide();
                }
            } else {
                console.log("Some error happened.");
                $("#button_add").show();
                $("#button_remove").hide();
            }
        });

        $("#button_add").click(function () {
            $.get("/favorites/user/add/{{post.post_id}}", {}, function (data) {
                $("#button_remove").show();
                $("#button_add").hide();
            })
        });

        $("#button_remove").click(function () {
            $.get("/favorites/user/remove/{{post.post_id}}", {}, function (data) {
                $("#button_remove").hide();
                $("#button_add").show();
            })
        });
    });
</script>
<div class="row">
    <h6 class="display-6">{{ post.title }}</h4>
</div>
<div class="row">
    <div class="col-9">{% for post_image in post_images %}
        <figure class="figure">
            <img src="/static/images/posts/{{post_image.image}}" class="figure-img img-fluid rounded"
                style="width: 700px">
        </figure>
        <br />
        <br />
        {% endfor %}
    </div>
    <div class="col-3">
        <div>
            <p class="h6">Influencer:</p>
            <a href="/user/{{post.user_id}}" class="text-decoration-none text-dark">
                <p>{{post.user.userprofiles[0].first_name}} {{post.user.userprofiles[0].last_name}}</p>
            </a>
            <p class="h6">Look:</p>
            <p>{{post.makeup_type}}
            </p>
            <p class="h6">Description:</p>
            <p>
                {{post.post_description}}
            </p>
        </div>
        <hr />
        {% if post.user_id == session.get("user_id") %}
        <div class="col">
            <form action="/posts/{{post.post_id}}/delete" method="post">
                <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off">
                <input class="btn btn-outline-danger form-control p-1" for="danger-outlined" type="submit"
                    value="Delete Look">
            </form>
            <br />
            <a class="btn btn-outline-primary form-control p-1" href="/posts/{{post.post_id}}/edit">Edit Look</a>
        </div>
        <br />
        {% endif %}

        {% if session.get("user_id") %}
        <div>
            <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off"
                checked>
            <button type="submit" id="button_add" for="success-outlined"
                class="btn btn-outline-success form-control">Add to
                favorites</button>

            <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off">
            <button type="submit" id="button_remove" class="btn btn-outline-danger form-control
                for=" danger-outlined">Remove from
                favorites</button>
        </div>
        <hr />
        {% endif %}
        <br />
        <h6 class="display-6">products</h6>
        {% for product in products %}
        <p><a href="{{product.url}}" class="text-dark text-decoration-none" target="blank">
                <img src="/static/images/products/{{product.image}}" height="50" width="50" />{{product.title}}</a></p>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col">
        <h4 class="display-6">Comments</h4>

        {% for comment in comments %}
        <div class="card bg-light mb-3" style="max-width: 30rem;">
            <div class="card-header">{{comment.user.userprofiles[0].first_name}}</div>
            <div class="card-body">
                <p class="card-text" comment_id="{{comment.comment_id}}">{{comment.text}}
                    {% if comment.user_id == session.get("user_id") %}
                <form action="/posts/{{post.post_id}}/comments/{{comment.comment_id}}/delete" method="post">
                    <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined"
                        autocomplete="off">
                    <input type="hidden" name="comment_id" value="{{comment.comment_id}}" />
                    <input type="submit" value="delete comment" id="button_remove" class="btn btn-outline-danger"
                        for="danger-outlined">
                </form>

                {% endif %}
                </p>
            </div>
        </div>
        {% endfor %}
        {% if session.get("user_id") %}
        <div class="card bg-light mb-3" style="max-width: 30rem;">
            <div class="card-header">Write your comment</div>
            <div class="card-body">
                <p class="card-text">
                <form action="/posts/{{post.post_id}}/comment" method="post">
                    <textarea name="comment" id="comment" rows="3" cols="50" style="font-family:sans-serif;"></textarea>
                    <br />
                    <input type="submit" value="Save" title="Comment">
                </form>
                </p>
            </div>
        </div>
        {%endif%}
    </div>
</div>

{% endblock %}