{% extends 'base.html' %}

{% block title %} {{post.title}} - {% endblock %}

{% block body %}
<h1>{{ post.title }}</h1>

<p>
    {{post.post_description}}
</p>

<p>{{post.makeup_type}}
</p>
<a href= "/posts/{{post.post_id}}/edit">Edit </a>
{% for product in products %}
<img src="/static/images/products/{{product.image_url}}" height="50" width="50"/> <a href="{{product.website_link}}">{{product.title}}</a>
<p>

</p>
<p>{{product.product_details}}</p>

{% endfor %}

{% for post_image in post_images %}
<img src="/static/images/posts/{{post_image.img_url}}" />
{% endfor %}

<p>{{post.influencer_name}}</p>
{% endblock %}