{% extends 'base.html' %}
{% block title %} {{user.user_id}}
{% endblock %}

{% block body %}

<div id="container">
    <h3>Welcome {{userprofile.first_name}} {{userprofile.last_name}}</h3>
    <a href="/profile/edit">Edit Profile</a>
    <br />
    {%if userprofile.profile_picture%}
    <img src="/static/images/profile/{{userprofile.profile_picture}}" />
    {%else%}
    <img src="/static/images/profile/default.png" />
    {%endif%}

    <br/>
    <!-- Show all my looks on this page below -->
    {% for post in user_posts %}
    <a href="/posts/{{post.post_id}}">
        <img src="/static/images/posts/{{post.post_id}}_p.jpg" />
    </a>
    {% endfor %}
</div>

{% endblock %}