{% extends 'base.html' %}
{% block title %} {{user.user_id}} {% endblock %}

{% block body %}
<div id="container">
    <h3>Welcome {{userprofile.first_name}} {{userprofile.last_name}}</h3>
    <p id="edit"><b> Click "Edit" to Edit your profile. </ b></p>
    <button type="submit" id="edit-button">Edit</button>
    <button type="submit" id="end-editing">Done</button>
    </div>

<p> Enter your Insta handle <input type="text" name="insta_handle"></p>
<p> bio <input type="text" name="bio"></p>


{% endblock %}