{% extends 'base.html' %}
{% block title %} {{user.user_id}}
{% endblock %}

{% block body %}

<h4 class="display-6 d-flex justify-content-center">Welcome {{userprofile.first_name}} {{userprofile.last_name}}</h4>
<div class="card">
    <div class="card-header">Your Profile</div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                {%if userprofile.profile_picture%}
                <img src="/static/images/profile/{{userprofile.profile_picture}}" height="200" width="200" />
                {%else%}
                <img src="/static/images/profile/default.png" height="200" />
                {%endif%}
            </div>
            <div class="col">
                <div class="display-6" style="font-size: 98%">First Name: {{userprofile.first_name}}</div>
                <div class="display-6" style="font-size: 98%">Last Name: {{userprofile.last_name}}</div>
                <div class="display-6" style="font-size: 98%">Insta Handle: {{userprofile.insta_handle}}</div>
                <div class="display-6" style="font-size: 98%">Bio: {{userprofile.bio}}</div>
                <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off"
                    checked>
                <a href="/profile/edit" id="button_add" for="success-outlined" class="btn btn-outline-success">Edit
                    Profile</a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="card">
    <div class="card-header">Your Looks</div>
    <div class="card-body">
        {% include 'pictures_grid.html' %}
    </div>
</div>

{% endblock %}