{% extends 'base.html' %}
{% block title %} {{user.user_id}} {% endblock %}

{% block body %}
<div class="card mb-3" style="max-width: 200; border-color: var(--accentcolor1);">
    <div class="card-header text-dark">
        <h2 class="display-6">{{userprofile.first_name}}
            {{userprofile.last_name}}'s Profile</h2>
    </div>


    <div class="card-body text-dark">
        <p class="card-text-dark">

        <p>Instagram: {{userprofile.insta_handle}}</p>
        <p>Bio: {{userprofile.bio}}</p>

        </p>
    </div>
</div>
<br />
<div class="card">
    <div class="card-header">{{userprofile.first_name}} {{userprofile.last_name}}'s Looks</div>
    <div class="card-body">
        {% include 'pictures_grid.html' %}
    </div>
</div>

{% endblock %}